{
  "singleQuote": true,
  "bracketSameLine": true,
  "useTabs": true,
  "tabWidth": 2,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "auto"
}
